
body{
  font-family: 'Roboto', sans-serif;
}

.first{
  background-color: #484848;
}
.top-info{
  height: 50px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.navigation{
  background-image: url("img/homepage-hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.navigation img{
  width: 250px;
  height: 50px;
}
.button{
  display: inline-block;
  padding: 20px;
  background-color: white;
  color: #79b27b;
  border-radius: 50px;
}
.container-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav{
  background: rgba(0, 0, 0, 0.58);
  height: 100px;
}
.presentation{
  color: white;
  margin-top: 100px;
}
.nav-list li{
  display: inline-block;
  margin-right: 15px;
  font-weight: bold;
}
#nav-anchor{
  color: white;
}
#nav-anchor:hover{
  border-bottom: 3px solid #79b27b;
  color: #79b27b;
}
.forms{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 50px 0;
  position: relative;
}
.description{
  width: 50%;
  margin-right: 10px;
  line-height: 30px;
}
.description h5, .description p{
  color: lightgrey;
  margin-top: 30px;
}
.description h2{
  color: black;
}
.form{
  width: 50%;
}
.box{
  position: absolute;
  top: -20%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 12px 12px 1px lightgrey;
}
.box h3{
  color: #79b27b;
}
.box p{
  color: lightgrey;
  margin-top: 30px;
}
.box .button{
  padding: 10px;
  margin-top: 20px;
}
.phone-number{
  height: 100px;
  background-image: url("img/horizontal-cta-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.phone-number{
  color: white;
}
.boxing{
  background-image: url("img/promise-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}
.little-boxes{
  margin-left: 500px;
}
.parent{
  position: relative;
}
.small-box{
  margin-left: 25px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
}
.small-box img{
  width: 150px;
  height: 150px;
}
.small-box a{
  padding: 10px;
  border-radius: 50px;
}
.small-box p{
color: #7f9ea8;
}
.box-floating{
  position: absolute;
  top: -5%;
  left: 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 12px 12px 1px lightgrey;
  width: 40%;
}
.little-boxes .bottone{
  color: #7f9ea8;
  background-color: white;
  border: 3px solid #7f9ea8;
}
.little-boxes .bottone:hover{
  color: white;
  background-color: #7f9ea8;
  border: 1px solid #7f9ea8;
}
.box-floating img{
  width: 50px;
  border-radius: 20px 0 0 0;
}
.box-floating h3{
  display: inline-block;
}
.text-box{
  padding: 0 20px 30px 20px;
  text-align: center;
}
.text-box h3, .text-box p{
  margin-bottom: 40px;
}
.text-box p{
  color: lightgrey;
}
.text-box a{
  padding: 10px;
  border-radius: 50px;
}
.flex-right{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rating{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  margin-left: 20px;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 1px 12px 12px 1px lightgrey, 0 -5px 0 0 #79b27b;
  text-align: center;
  color: lightgrey;
  border-radius: 10px;
  display: flex;
  width: 300px;
  align-items: center;
}
.circle{
  width: 150px;
  height: 150px;
  border: 5px solid #e5e8eb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.instructors{
  margin-top: 100px;
  height: 400px;
  position: relative;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-ins{
  display: inline-block;
}
.text-ins h2{
  color: #040b11;
}
.text-ins p{
  color: lightgrey;
}
.social-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  padding: 0;
}
.instructors a{
  padding: 20px;
  border-radius: 50px;
}
.card-instructors{
  margin-top: 50px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, +10%);
}
.card-instructors .card h4{
  color:  #040b11;
  margin-top: 20px;
}
.card-instructors .card:hover img{
  box-shadow: 2px 2px 12px 5px lightgrey;
  cursor: pointer;
}
.social-list li a{
  padding: 0;
  border-radius: 0;
  color: lightgrey;
}
.testimonials{
  background-image: url("img/testimonial-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial-template{
  width: 60%;
  margin: 0 auto;
}
.testimonials h2{
  padding-top: 100px;
}
.testimonials p{
  color: grey;
}
.testimonials img{
  width: 150px;
  height: 150px;
  margin: 30px 0;
}
.dots i:hover{
  cursor: pointer;
}
.dots{
  padding-bottom: 100px;
  padding-left: 0;
  margin: 0;

}
.dots li{
  display: inline-block;
  margin-left: 10px;
  color: grey;
}
.full{
  background-color: grey;
  border-radius: 10px;
}
.news{
  background-image: url("img/latestnews-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}
.box-news{
  background-color: white;
  width: 850px;
  margin: 0 auto;
  height: 550px;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -5%);
  box-shadow: 1px 12px 12px 1px #7f9ea8, 0 -5px 0 0 #7f9ea8;
  border-radius: 10px;
}
.box-news a{
  padding: 20px;
  border-radius: 50px;
  margin-top: 30px;
}
.cars p{
  width: 90%;
  margin: 0 auto;
  color: lightgrey;
  margin-top: 20px;
}
.cars h3{
  color: #79b27b;
  margin-top: 20px;
}
.cars .comments{
  font-size: 10px;
}
.cars .comments span{
  color: #79b27b;
}
.attached-img{
  width: 100%;
}
.newsletter{
  background-image: url("img/newsletter_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.newsletter input, .newsletter a{
  width: 500px;
}
.newsletter input{
  border-radius: 5px;
  border: 2px solid #e5e8eb;
  margin: 30px 0;
  line-height: 40px;
}
.newsletter a{
  padding: 10px 220px;;
  color: #79b27b;
  background-color: white;
  border: 1px solid #79b27b;
  border-radius: 50px;
}
.newsletter p{
  margin-top: 30px;
  color: grey;
}
footer ul{
  list-style: none;
}
.top-footer{
  background-image: url("img/footer-background-color.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}
.top-footer img{
  margin-bottom: 30px;
}
.top-footer h5{
  color: white;
}
.detail i{
  color: lightgrey;
}
.top-footer ul li{
  line-height: 30px;
}
.top-footer p{
  color: grey;
}
.detail li a{
  color: grey;
}
.top-footer a{
  color: #79b27b;
}
.top-footer li{
  margin-top: 10px;
}
.top-footer i{
  padding-right: 10px;
}
.courses a{
  color: #79b27b;
}
.courses i{
  color: #79b27b;
}
.top-footer .button{
  padding: 10px;
}
.bottom-footer{
  padding: 30px 0;
  background-color: #040b11;
}
.bottom-footer i{
  color: white;
}
.bottom-footer p{
  color: lightgrey;
}
.bottom-footer span a{
  color: #79b27b;
}
.button{
  color: #79b27b;
  background-color: white;
  border: 1px solid #79b27b;
}
.button:hover{
  color: white;
  background-color: #79b27b;
  border: 1px solid #79b27b;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
